---
layout: default
---

<section>
    <h1 style="display: none;">Projet {{ site.title }}</h1>
    <iframe src="http://player.vimeo.com/video/66002517?title=0&amp;byline=0&amp;portrait=0" width="590" height="332" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
    <hr />
    <h2>Combiner art et numérique</h2>
    <h3>Comprendre le projet</h3>
    <p>
        Ce projet est une approche pour tenter d’<strong>unir l’informatique et l’art numérique</strong>.<br />
        Ces domaines d’innovations où les règles sont mouvantes et les limites chaque jour repoussées, offre <strong>un champ d’action des plus stimulant</strong>. Sous le thème de la collection, cette ébauche laisse l’imagination du spectateur naviguer dans une galaxie, c’est-à-dire un choix de planètes imaginaires, avec lesquelles le public pourra interagir. L’<strong>interaction induit le ludique</strong> qui permet une appropriation plus immédiate d’un large public.
    </p>
    <h3>Partir en exploration dans une Galaxie</h3>
    <p>Choisissez votre étoile et approchez-vous d’elle pour comprendre ses mécanismes et ses mystères. Avec de la chance, vous trouverez surement l’unique étoile qui illumine tout l’Univers…</p>
    <p>À l’aide d’un socle de polystyrène taillé, d’une surface de projection, et du matériel informatique disposé à cette expérience, nous avons ainsi conçu un portail numérique et interactif d’animations représentant les différentes planètes de cette galaxie lointaine.</p>
    <ul>
        <li>La collection <small>— Sujet</small></li>
        <li>Art numérique <small>— Catégorie</small></li>
        <li>Interaction, Immersion, Animation visuelle, Sonorité, Contribution, Open Source <small>— Mots Clés</small></li>
    </ul>
    <h2>Collaboration</h2>
    <p>
        Le développement avec le service internet GitHub, et l’aide de gestion de version sur dépôts <a href="http://fr.wikipedia.org/wiki/Git">Git</a>, permettent un travail compréhensible, collaboratif et librement partageable. Ces avantages sont considérables dans la mesure où d’une part le code source du projet peut être amélioré, et d’autre part les bogues sont plus simplement corrigeables.<br />
        La mutualisation de la source permet à tous les acteurs du projet de suivre en temps réel la progression du code, ainsi qu’un partage de contenu, valeur première d’Internet.
    </p>
    <h2>Ouverture</h2>
    <p><em>Les possibilités sont infinies !</em> Néanmoins une excellente et intéressante optimisation pourrait être l’aspect génératif, dans le sens où chaque planète acquerrait des caractéristiques générée en temps réel. Certains artistes utilisent beaucoup la génération comme support de leur travail, tel que <a href="http://www.miguel-chevalier.com">Miguel Chevalier</a>.</p>

    <hr />

    <h1>Production</h1>
    <h2>Problématiques</h2>
    <p>Au cours du développement du projet, quelques difficultés ont été rencontrées. Notamment :</p>
    <ul>
        <li><b>Mettre en place un système d’états entre lesquelles des variables sont échangées</b><br /><small>Pour surpasser ce point important dans le développement de Galaxie, la mise en place de fonctions <a href="http://www.cplusplus.com/doc/tutorial/inheritance/"><code>friend</code></a> ouvrent leur accès à d’autres classes, mais aussi d’une pseudo-classe qui dialogue avec la mémoire et le programme fut impérative. Ainsi, les objets sont utilisés par sélection, selon l’organisation qui a été donné au programme.</small></li>
        <li><b>S’assurer de la compatibilité tout système</b><br /><small>L’utilisation d’un Framework est ici essentielle. Après un nombre important de modifications, il a fallu vérifier que les éléments et outils étaient bien toujours compatibles.</small></li>
    </ul>
    <h2>Structures</h2>
    <h3>Eléments</h3>
    {% include elements.html %}

    <h3>Détails d’une fonction</h3>
    {% include function.html %}

    <hr />

    <h1>Développement</h1>
    <h2>Environnement</h2>
    <p>Pour débuter le développement du projet, commençons par décrire la méthode à suivre. Préparez en premier l’environnement numérique de travail.</p>
    <h3>openFrameworks</h3>
    <h4>Logiciels requis</h4>
    <ul>
        <li>IDE — Visual Studio 2012</li>
        <li>Librairie openFrameworks</li>
        <li>Modules openFrameworks</li>
    </ul>
    <h4>Installation</h4>
    <p>Il existe déjà un tutorial illustré sur l’installation d’openFrameworks <a href="http://www.openframeworks.cc/setup/vs-2010/">le site officiel</a>. Il est en anglais, mais relativement facile à suivre grâce à ses nombreuses captures d’écran.</p>
    <ol>
        <li>Allez sur le <a href="https://www.microsoft.com/visualstudio/eng/downloads#d-express-windows-desktop">site de Visual Studio 2012</a>.</li>
        <li>Téléchargez Visual Studio 2012 Express for Windows Desktop.</li>
        <li>Installez ce logiciel.</li>
    </ol>
    <p>Vous avez terminé de configurer Visual Studio 2012. Il faut maintenant installer les bibliothèques et exemples d’openFrameworks.</p>
    <ol>
        <li>Allez dans l’espace <a href="http://www.openframeworks.cc/nightlybuilds.html">«&nbsp;download&nbsp;» d’openFrameworks</a>, et téléchargez le fichier «&nbsp;windows visual studio&nbsp;».</li>
        <li>Décompressez ce dossier et placez-le quelque part dans «&nbsp;Mes Documents&nbsp;» ou n’importe quel autre endroit où vous stockez vos fichiers.</li>
    </ol>
    <p>Passons ensuite au <b>Modules openFrameworks</b>.</p>
    <ol>
        <li>Ouvrez le fichier <code><a href="https://github.com/LeoColomb/Galaxie/blob/master/addons.make">addons.make</a></code>.</li>
        <li>Dirigez-vous sur <a href="http://ofxaddons.com/">ofxaddons.com</a>, et téléchargez chaque «&nbsp;addon&nbsp;» référencé dans <code>addons.make</code>.</li>
        <li>Décompressez chaque téléchargement dans le dossier <code>addons</code> du répertoire d’openFrameworks.</li>
    </ol>
    <p>Terminez l’installation en téléchargeant <a href="https://github.com/LeoColomb/Galaxie/archive/master.zip">Galaxie</a>, et en décompressant l’archive dans le dossier <code>apps/myApps</code> du répertoire d’openFrameworks.</p>
    <h3>Arduino</h3>
    <h4>Matériel requis</h4>
    <ul>
        <li>Carte Arduino</li>
        <li>Arduino IDE</li>
        <li>Module SRF08 — Capteur Sonic</li>
        <li>Connectique MIDI</li>
    </ul>
    <h4>Croquis</h4>
    <ol>
        <li><a href="http://arduino.cc/en/Main/Software">Télécharger</a> l’IDE d’Arduino</li>
        <li>Connecter la carte et installer les drivers</li>
        <li>Lancer l’application Arduino</li>
        <li>Ouvrir le croquis lié au projet</li>
    </ol>
    <h2>Construction</h2>
    <p>La conjstruction du projet Galaxie se déroulle en quelques étapes simples :</p>
    <ul>
        <li>Téléverser sur votre carte Arduino le croquis grâce à l’IDE Arduino.</li>
        <li>Executez <code>Galaxie.sln</code> et lancez la compilation dans Visual Studio 2012.</li>
        <li>Executez maintenant le fichier généré, soit <code>Galaxie.exe</code>.</li>
        <li>Appreciez et jouez avec Galaxie.</li>
    </ul>
    <p><em>Dans le cas d’une utilisation d’Arduino, une configuration spatiale spécifique est requise. Editez le projet pour que l'application soit cohérente avec son environnement.</em></p>

    <hr />

    <h1>À propos</h1>
    <h2>Sites officiels</h2>
    <ul>
        <li><strong><a href="http://www.openframeworks.cc">openFrameworks</a></strong><br />
            <li><strong><a href="http://arduino.cc">Arduino</a></strong></li>
    </ul>
    <h2>Ressources</h2>
    <ul>
        <li><strong>Référence C++</strong> — <a href="http://fr.cppreference.com/w/">CppReference.com</a></li>
        <li><strong>Initialisation openFrameworks</strong> — <a href="http://www.ecole-art-aix.fr/rubrique906.html">École Supérieure d’Art d’Aix-en-Provence</a></li>
        <li><strong>Initialisation Arduino</strong> — <a href="http://wiki.labomedia.org/index.php/Liens_ressources_tutoriaux_Arduino">LaboMédia</a></li>
    </ul>
    <h2>Licences</h2>
    <p>Ce projet est dans son ensemble distribué sous licence MIT.</p>
    <blockquote>THE SOFTWARE IS PROVIDED "AS IS", WITHOUT WARRANTY OF ANY KIND, EXPRESS OR IMPLIED, INCLUDING BUT NOT LIMITED TO THE WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE AND NONINFRINGEMENT. IN NO EVENT SHALL THE AUTHORS OR COPYRIGHT HOLDERS BE LIABLE FOR ANY CLAIM, DAMAGES OR OTHER LIABILITY, WHETHER IN AN ACTION OF CONTRACT, TORT OR OTHERWISE, ARISING FROM, OUT OF OR IN CONNECTION WITH THE SOFTWARE OR THE USE OR OTHER DEALINGS IN THE SOFTWARE.</blockquote>
    <br />
    <p>Néanmoins, certains composants contiennent leurs propres licences, en particulier openFrameworks et extensions.</p>

    <h2>Notes de Version</h2>
    <h3>Principe</h3>
    <p>Par transparence, les versions suivent un cycle défini comme le conseille <a href="http://semver.org">Semantic Versioning</a>.<br />
    Cela permet une plus grande clarté dans les nouvelles versions, qui sont donc numérotées par <code>&lt;majeure&gt;.&lt;mineure&gt;.&lt;patch&gt;</code>, et plus strictement à partir de la version 1.0.0.</p>
    <h3>1.0.0</h3>
    <h3>0.5.0</h3>
    <ul>
        <li></li>
    </ul>
</section>
