<h6><code>galaxieApp</code></h6>
<p>Classe principale, elle définit et recense les fonctions essentielles et structurante. On y retrouve les fonctions de réception de message, et les variables de configurations.<br />
Pour d’avantages de variables paramètres, référez-vous à <a href="https://github.com/LeoColomb/Galaxie/blob/master/src/gConstants.h"><code>gConstants.h</code></a>.</p>
{% highlight cpp %}
class galaxieApp {

	// Fonctions & Meéthodes
	void setup();
	void setupI();
	void update();
	void draw();
	void keyPressed(int key);
	void keyReleased(int key);
	void mouseMoved(int x, int y);
	void mouseDragged(int x, int y, int button);
	void mousePressed(int x, int y, int button);
	void mouseReleased(int x, int y, int button);
	void windowResized(int w, int h);
	void dragEvent(ofDragInfo dragInfo);
	void gotMessage(ofMessage msg);
	void onNewMessage(string & byteReceived);

	// Variables
	float CENTER_X, CENTER_Y;
	int planetState;
	bool gInitialized;
	string byteReceived;
	int sendedByte;
}
{% endhighlight %}

<h6><code>gInitZone</code></h6>
<p>Classe d’initialisation de l’application, elle permet de positionner le centre de la planète / zone.</p>
{% highlight cpp %}
class gInitZone {

	// Fonctions & Méthodes
	gInitZone();
	void update(int xM, int yM);
	void draw();
	void mouseMoved(int x, int y);
	void mousePressed(int x, int y, int button);

	// Variables
	float x, y;
	bool isFixed;
};
{% endhighlight %}

<h6><code>gPlanet</code></h6>
<p>Classe importante, cette dernière gère toutes les interactions, les animations et l’appel de configuration lors de  l’affichage des planètes.</p>
{% highlight cpp %}
class gPlanet {

	// Fonction Friend
	friend void selectPlanet();

	// Fonctions & Méthodes
	gPlanet();
	friend void selectPlanet();
	void update(int newStep);
	void draw();
	void sceneWillAppear(ofxScene * fromScreen);
	void interaction(int variationD);
	void mouseMoved(int x, int y);
	void onNewMessage(string & byteReceived);
	void sceneDidDisappear(ofxScene * fromScreen);
	float timeTrigo(string function, float multi = 1, int piTimes = 0);

	// Variables
	int thisPlanet;
	// Variables privées
	int proximity; // Captor sensor interpretation
	int step;
};
{% endhighlight %}

<h6><code>gTransition</code></h6>
<p>Classe de transition, elle complète et lie chaque chargement de planète. Elle permet la sélection de la planète à appeler.</p>
{% highlight cpp %}
class gTransition {

	// Fonctions & Méthodes
	gTransition();
	void update();
	void draw();
	void mousePressed(int x, int y, int button);
	void sceneWillAppear(ofxScene * fromScreen);
	void sceneDidDisappear(ofxScene * fromScreen);
	void selectPlanet(gPlanet * toSelect);

	// Variables
	int configStep;
	int result;
	// Variables privées
	int selection[3];
};
{% endhighlight %}
